.wrapperr{
	height:100px;
}
.wrapperr p{
	clear: both;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
}

@media screen and (max-width: 860px) {
	.header a{
		display: block;
		text-align: center;
		font-size: 10px;
		text-shadow: none;
	}
	.header span.right{
		float: none;
	}
}